.mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1976D2; /* Use your preferred color */
    color: white;
  }
  
  .example-icon {
    color: white;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  