<header>
    <title>Events</title>
    <link rel="stylesheet" href="./navigation.component.css">
    <script src="https://kit.fontawesome.com/7681f02d75.js" crossorigin="anonymous"></script>
</header>

<body>
    <nav class="navbar">
      <i class="fa-solid fa-house" (click)="onHomeIconClicked()"></i>

      <h1 class="main-title">Event Manager 00014725</h1>
        
      <div class="create-btn">
        <button class="create-button" (click)="CreateClicked()"> Create Event</button>
      </div>
    </nav>
</body>


  