<header>
    <title>Events Details</title>
    <link rel="stylesheet" href="./details.component.css">
</header>

<h2>Event Details</h2>

<div class="eventDetails">
  <ul>
    <li><b>Event ID:</b> {{ eventDetails.eventID }}</li>
    <li><b>Event Name:</b> {{ eventDetails.eventName }}</li>
    <li><b>Event Date:</b> {{ eventDetails.eventDate}}</li>
    <li><b>Location:</b> {{ eventDetails.location }}</li>
    <li><b>Cost:</b> {{ eventDetails.cost }}</li>
    <li><b>Language:</b> {{ eventDetails.language }}</li>
  </ul>
</div>


